<fieldset class="scheduler-border">
<!-- 	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-md-6">
					<div class="form-group">
						<%= f.file_field :document, class: "btn btn-default btn-doc"%>
						<%= f.hidden_field :document_cache %>
					</div>
				</div><br>
				<div class="col-md-12">
					<div class="form-group">
						<%= f.text_area :commentary, class: "form-control area", rows: 2, placeholder: "Comentario" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<%= f.hidden_field :_destroy%>
					<%= link_to 'Eliminar Documento <i class="fa fa-times fa-1x" aria-hidden="true"></i>'.html_safe, '#', class: "remove_fields btn btn-danger" %>
				</div>
			</div>
		</div>
	</div> -->



	<div class="form-group">
		<%= f.file_field :document, class: "col-sm-12 btn btn-default btn-doc"%>
		<%= f.hidden_field :document_cache %>
	</div>
	<div class="form-group">
		<%= f.text_area :commentary, class: "col-sm-12 form-control area", rows: 2, placeholder: "* Comentario", :maxlength => 100%>
	</div>
	<div class="form-group">
		<%= f.hidden_field :_destroy%>
		<%= link_to 'Eliminar Documento <i class="fa fa-times fa-1x" aria-hidden="true"></i>'.html_safe, '#', class: "remove_fields btn btn-danger" %>
	</div>
</fieldset>