<p id="notice"><%= notice %></p>

<h1>Document Academics</h1>

<table>
  <thead>
    <tr>
      <th>Document</th>
      <th>Commentary</th>
      <th>Academic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_academics.each do |document_academic| %>
      <tr>
        <td><%= document_academic.document %></td>
        <td><%= document_academic.commentary %></td>
        <td><%= document_academic.academic %></td>
        <td><%= link_to 'Show', document_academic %></td>
        <td><%= link_to 'Edit', edit_document_academic_path(document_academic) %></td>
        <td><%= link_to 'Destroy', document_academic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document Academic', new_document_academic_path %>
