<% content_for :title do %>
  <title>SIAGP | Iniciar Sesión</title>
<% end %>
<div class="container-fluid">
  <div class="row no-margin-login">
    <div id="div_logo_sipted" class="col-sm-12 col-md-6">    
      <div class="col-md-4">
        <%= image_tag("logoLapiz2.png", class:"img_logo_sipted img-responsive", :alt => "rss feed") %>
      </div>
      <div class="col-md-8">
        <h1 id="letter_for_login">Sipted</h1>
        <h5>
          Sistema de Administración y Gestión de Personal <p class="text-info">v1.0</p>
        </h5>
      </div>
    </div>

    <div class="form-group">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="input-group col-xs-4" style="padding-left: 30px;">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
          <%= f.email_field :email, autofocus: true, placeholder: "Correo Electrónico", 'class' => 'form-control' %>
        </div>

        <div class="input-group col-xs-4" style="padding-left: 30px;">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <%= f.password_field :password, autocomplete: "off", placeholder:"Contraseña", 'class' => 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="input-group" style="padding-left: 30px;">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Recordar mi cuenta" %>
          </div>
        <% end %>
        <div class="actions col-xs-4" style="padding-left: 30px;">
          <%= f.submit "Iniciar sesión", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>